*.iml
.gradle
.idea
app/src/main/wowTokenLogo-web.png
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
